body {
    background-color: #037e37 !important;
}

.container {
    min-height: 100vh;
    background-color: #037e37 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questin-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.border-off {
    border: none !important;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none;
}

.final-headline {
    font-size: 38px;
    margin: 24px;
}

.final-text {
    font-size: 20px;
}

.progress {
    margin: 16px 0 16px 0;
}

.background-green_1 {
    background-color: #70f01f !important;
}

.background-green_2 {
    background-color: #05ba12 !important;
}

.button-restart{
    display: flex;
    justify-content: center;
    margin: 16px;
}